# Entorno virtual
.venv/
venv/
env/

# Datos (no versionar archivos pesados)
data/
input/
output/
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb
